body{
    background-color: black;
}

h1{
    font-size: 80px;
    text-align: center;
    color: white;
}

.MyTable{
    margin-left: 350px;
    display: table;
}

.MyTable .MyTable-Tr{
    display: table-row;
}

.MyTable .MyTable-Tr .MyTable-Td{
    display: table-cell;
    border-bottom: solid 2px white; 
}

.MyTable .title{
    background-color: white;
    color: black;
}

.MyTable .MyTable-Tr .MyTable-Td1{
    display: table-cell;
    border-bottom: solid 2px white; 
    color: white;
    margin: 0;
}