.arena {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-column-gap: 1em;
}

/* Team */
.team {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.team#heroes {
    justify-content: flex-end;
}

/* Player cards */
.player {
    border-radius: 5px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 1rem;
    text-align: center;
    width: 100px;
}

.player>img {
    width: 100%;
    height: auto;
}

.player>.strength {
    font-size: 3em;
}

#score {
    font-size: 3em;
    text-align: center;
}

.player.selected {
    box-shadow: 0px 0px 2px 2px rgba(167, 38, 241, 0.2);
}